* {
    padding: 10;
    margin: 10;

}

body {
    background-image: url(../img/background.jpg);
}

#myCanvas {
    background-image: url(../img/canvasBackground.jpg);
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
}

#pongCanvas {
    background-image: url(../img/canvasBackground.jpg);
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html {
    background-image: url("../img/") no-repeat;
    background-repeat: no repeat;
}

.btnPongGame {
    border: 2px solid #ff4000;
    width: 30;
    text-align: center;
    padding: 8px;
    background-color: #000000;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    font-weight: normal;
    font-size: 20px;
    border-color: gold;
    border-width: 5px;
    color: gold;
}

.btnPongGame:hover {
    background-color: gold;
    border-color: black;
    color: black;
}


.btnBreakOutGame {
    border: 2px solid #ff4000;
    width: 30;
    text-align: center;
    padding: 8px;
    background-color: #000000;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    font-weight: normal;
    font-size: 20px;
    border-color: gold;
    border-width: 5px;
    color: gold;
}

.btnBreakOutGame:hover {
    background-color: gold;
    color: black;
    border-color: black;
}


.btnBack {
    border: 2px solid #ff4000;
    width: 50;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    font-weight: normal;
    font-size: 20px;
    border-color: gold;
    border-width: 5px;
    color: gold;
    text-decoration: none;
}

.btnBack:hover {
    background-color: gold;
    color: black;
    border-color: black;
}

